# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      NODE_OPTIONS: --max-old-space-size=8192

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: 20
    - run: npm install
    - name: Copy config.yml
      uses: canastro/copy-action@0.0.2
      with:
        source: config.template.yml
        target: config.yml
    - run: yarn test
    - name: Test results
      uses: actions/upload-artifact@v4
      if: failure()
      with: 
        name: playwright-report
        path: test-results/**/*.png
